{% extends "login/base.html" %}

{% block form %}

    <form id="login-form" method="POST" action="{{ request.get_full_path()  }}" class="ajax-form" novalidate>
        {% csrf_token %}

        {% if can_register %}
            <div class="social-login">
                <a href="#" onclick="fb_login();return false;">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="#" onclick="gg_login(event);return false;">
                    <span class="fa fa-google" aria-hidden="true"></span>
                    <span class="sr-only">Google</span>
                </a>
            </div>
        {% endif %}

        {% if form.login_scope %}
        <div class="form-group">
            {{ form.login_scope }}
            {{ form.login_scope.errors }}
        </div>
        {% endif %}

        <div class="form-group">
            <label>{{ _("Username") }}</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label>{{ _("Password") }}</label>
            <input type="password" id="id_password" name="password" placeholder="Senha" class="form-control input-sm bounceIn animation-delay4">
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label class="label-checkbox inline">
                <input type="checkbox" class="regular-checkbox chk-delete" />
                <span class="custom-checkbox info bounceIn animation-delay4"></span>
            </label>
            {{ _("Remember") }}
        </div>

        <div class="seperator"></div>

        {{ captcha(form) }}

        <button class="btn btn-default btn-md bounceIn animation-delay5 pull-right" type="submit"><i class="fa fa-sign-in"></i> {{ _("Sign-in") }}</button>
        {% if can_register %}
        <a href="/admin/register/" class="bounceIn animation-delay5 pull-left popup" type="submit" style="margin-right: 10px"> {{ _("Sign-up") }}</a>
        {% endif %}
    </form>

    <div class="form-group">
        <a href="/admin/reset/">{{ _("Reset Password") }}</a>
    </div>

{% endblock %}