Django==2.0.8
xhtml2pdf==0.2.2
python-dateutil==2.7.3
selenium==3.14.0
xlwt==1.3.0
xlrd==1.1.0
unicodecsv==0.14.1
qrcode==6.0
Pillow==5.2.0
cryptography==2.3.1
Fabric3==1.14.post1
dropbox==9.0.0
gunicorn==19.9.0
google-auth-oauthlib
google-api-python-client
oauth2client