{% if component.as_pdf %}{% else %}
<div class="panel panel-default">
    {% if component.title %}
        <div class="panel-heading clearfix">
            <span class="pull-left">
                {% if component.icon %}<i class="fa {{ component.icon }}"></i>{% endif %} {{ component.title }}
            </span>
        </div>
    {% endif %}
    <div class="panel-body no-padding">
        {% for src, url in component.images %}
            {% if url %}<a class="popup" href="{{ url }}">{% endif %}
            <img src="{{ src }}" width="100%" style="margin-bottom:10px">
            {% if url %}</a>{% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}