{% load i18n %}
{% if self.as_pdf %}{% else %}
{% if self.type == "box" %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> {{ self.title }}
    </div>
    <div class="panel-body">
        {% if self.display %}
        <table width="100%">
            <tr>
            {% for label, value, percentage in self.get_box_series %}
                <td align="center">
                <div data-meta="{{ label }}:{{ value }}::0x{{ forloop.counter0 }}" class="ct-chart{{ self.id }}" data-toggle="tooltip" title="{{ value }} {{ label }}, {{ percentage }}%" style="background-color: {{ self.next_color }}; min-width: 100px; margin: 5px; color:white; border-radius: 15px;">
                    <div style="font-size: 700%">{{ value }}</div>
                    <div style="font-size: 150%">{{ label }}</div>
                    <div>{{ percentage }}%</div>
                    <br>
                </div>
                </td>
            {% endfor %}
            </tr>
        </table>
        {% else %}
            <div class="alert alert-warning">{% trans "No records found" %}.</div>
        {% endif %}
    </div>
</div>
{% else %}
<link href="/static/css/chartist.min.css" rel="stylesheet">
<script src="/static/js/chartist.min.js"></script>
<style>
    .ct-chart{{ self.id }} { height: 300px; padding: 0px }
    .ct-label { font-size: 1.25rem }
    {% include "chart_colors.css" %}
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> {{ self.title }}
    </div>
    <div class="panel-body">
        {% if self.display %}
            <div class="ct-chart{{ self.id }}" style="width: 100%; position: relative"></div>
        {% else %}
            <div class="alert alert-warning">{% trans "No records found" %}.</div>
        {% endif %}
    </div>
</div>
{% if self.display %}
<script>
    var charts = {pie : Chartist.Pie, donut: Chartist.Pie, bar:Chartist.Bar, horizontalbar: Chartist.Bar, stack:Chartist.Bar, horizontalstack: Chartist.Bar, line:Chartist.Line, area:Chartist.Line}

    var type{{ self.id }} = '{{ self.type }}';
    var labels{{ self.id }} = {{ self.labels|tojson|safe }};
    var series{{ self.id }} = {{ self.series|tojson|safe }};
    var groups{{ self.id }} = {{ self.groups|tojson|safe }};
    var symbol{{ self.id }} = '{{ self.symbol }}';

    var low{{ self.id }} = 0;
    var heigh{{ self.id }} = null;

    var sum = function (a, b) {
        return a + b
    };
    function toSeries{{ self.id }}(matrix) {
        var data = [];
        for (var i = 0; i < matrix.length; i++) {
            var serie = [];
            for (var j = 0; j < matrix[i].length; j++) {
                var value = matrix[i][j];
                var formated = value;
                if(Number(value) === value && value % 1 !== 0) formated = value.toFixed(2).replace('.', ',');
                var meta = labels{{ self.id }}[j] + ': ' + formated;
                if(groups{{ self.id }}.length > 0){
                    meta = groups{{ self.id }}[i] + ': ' + formated;
                }
                serie.push({value: value, meta: meta+'::'+i+'x'+j})
                if (value < low{{ self.id }}) low{{ self.id }} = value;
                if (heigh{{ self.id }} == null || value > heigh{{ self.id }}) heigh{{ self.id }} = value;
            }
            data.push(serie)
        }
        if(type{{ self.id }}=='pie' || type{{ self.id }}=='donut') return data[0];
        else return data;
    }
    var options = [];
    if(type{{ self.id }}=='area') options['showArea'] = true;
    if(type{{ self.id }}=='stack' || type{{ self.id }}=='horizontalstack') {
        options['seriesBarDistance'] = 30;
        options['stackBars'] = true;
    }
    options['reverseData'] = false;
    if(type{{ self.id }}=='line' || type{{ self.id }}=='area') options['fullWidth'] = true;
    if(type{{ self.id }}.indexOf('horizontal')>-1) options['horizontalBars'] = true;
    options['axisX'] = {
        offset: 50,
        labelInterpolationFnc: function (value) {
            if (Number(value) === value && value % 1 !== 0) value = value.toFixed(2).replace('.', ',');
            return value
        }
    };
    options['axisY'] = {
        offset: type{{ self.id }}.indexOf('horizontal') > -1 ? 100 : 25,
        labelInterpolationFnc: function (value) {
            if(Number(value) === value && value % 1 !== 0) value = value.toFixed(2).replace('.', ',');
            if(symbol{{ self.id }}) return value + ' '+ symbol{{ self.id }};
            else return value;
        },
        scaleMinSpace: 50,
        onlyInteger: true,
        divisor : 1
    };
    //tooltip
    options['plugins'] = [
        Chartist.plugins.tooltip({
            transformTooltipTextFnc: function (text) {
                return '';
            }
        })
    ];

    var data = {labels: labels{{ self.id }},  series: toSeries{{ self.id }}(series{{ self.id }}) };

    options['low{{ self.id }}'] = low{{ self.id }};
    if(type{{ self.id }}.indexOf('stack')==-1) {
        options['high'] = heigh{{ self.id }};
    }
    options['divisor'] = 2;
    if(type{{ self.id }}=='donut' || type{{ self.id }}=='pie') {
        if(type{{ self.id }}=='donut') {
            options['donut'] = true;
            options['chartPadding'] = 10;
            options['labelOffset'] = 35;
            options['labelDirection'] = 'explode';
        }
        options['donutWidth'] = 50;
        options['startAngle'] = 270;
        options['showLabel'] = true;
        options['labelDirection'] = 'explode';
        options['labelInterpolationFnc'] = function (value, i) {
            return Math.round(series{{ self.id }}[0][i] / series{{ self.id }}[0].reduce(sum) * 100) + '%';
        };
    }
    new charts[type{{ self.id }}]('.ct-chart{{ self.id }}', data, options).on('draw', function (data) {
        if (data.type === 'bar' && type{{ self.id }}.indexOf('stack') > -1) {
            data.element.attr({
                style: 'stroke-width: 25px'
            });
        }
    });
</script>
{% endif %}
{% endif %}
{% if self.clickable %}
    <script>
        $('.ct-chart{{ self.id }}').css('cursor', 'pointer');
        $('.ct-chart{{ self.id }}').click(function(e){
            var position = null;
            if(e.target.hasAttribute('ct:meta')) position = e.target.getAttribute('ct:meta').split('::')[1];
            else position = $(e.target).closest('.ct-chart{{ self.id }}')[0].getAttribute('data-meta').split('::')[1];
            var url = document.location.href;
            if(url.indexOf('?')>0) url+='&uuid=1&position='+position;
            else url+='?uuid={{ self.title }}&position='+position;
            popup(url, false)
        });
    </script>
{% endif %}
{% endif %}

