<div class="paginator-cards responsive-container">
    {% for obj in self.get_queryset %}
        <div class="l3 m2 s1">
        <div class="cards-row" align="center">
            <div style="border: 1px solid #ddd; border-radius: 0; padding: 10px; margin-bottom: 10px;overflow: hidden; height:280px">
                <div>
                     {% for verbose_name, lookup, sortable, to in self.column_names %}
                        {% if forloop.first %}
                        <div>
                            {% paginator_checkboxes self obj False %}
                            <p class="cards-title">{{ obj|getattr:lookup|format }}</p>
                        </div>
                        {% else %}
                            <p>{% if forloop.counter > 2 %}<strong>{{ verbose_name }}</strong>:{% endif %} {{ obj|getattr:lookup|format }}</p>
                            {% if forloop.last %}
                                <div class="cards-action paginator-actions">
                                    {% paginator_icons self obj True %}
                                    {% add_grouped_actions self obj %}
                                    {{ self.drop_down }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
<style>
    .cards-row{
        padding-left:0;
        margin-right: 5px;
    }
    .cards-title{
        font-size: 200%;
        font-weight: bold;
    }
    .cards-action a{
        margin-top: 10px;
    }
</style>

